modules/aws/lgtm-image-processor/files/step-function.json
{
  "StartAt": "judgeImage",
  "States": {
    "judgeImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${lambda_arn}:$LATEST",
        "Payload": {
          "process": "judgeImage",
          "image": {
            "bucketName.$": "$.detail.bucket.name",
            "objectKey.$": "$.detail.object.key"
          }
        }
      },
      "Next": "generateLgtmImage"
    },
    "generateLgtmImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${lambda_arn}:$LATEST",
        "Payload": {
          "process": "generateLgtmImage",
          "image": {
            "bucketName.$": "$.image.bucketName",
            "objectKey.$": "$.image.objectKey"
          }
        }
      },
      "Next": "storeToDb"
    },
    "storeToDb": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${lambda_arn}:$LATEST",
        "Payload": {
          "process": "storeToDb",
          "image": {
            "bucketName.$": "$.image.bucketName",
            "objectKey.$": "$.image.objectKey"
          }
        }
      },
      "Next": "createImageIndex"
    },
    "createImageIndex": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${lambda_arn}:$LATEST",
        "Payload": {
          "process": "createImageIndex",
          "image": {
            "bucketName.$": "$.image.bucketName",
            "objectKey.$": "$.image.objectKey",
            "databaseId.$": "$.image.databaseId"
          }
        }
      },
      "End": true
    }
  }
}
